<a href="https://colab.research.google.com/github/ikarosgn/DMDP65/blob/main/final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd   
import matplotlib.pyplot as plt
import numpy as np

# import ไฟล์

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## ข้อมูลสำหรับการ train

In [17]:
data_train = pd.read_csv('/content/drive/MyDrive/DPDM65/train.csv')

In [18]:
data_train

,Unnamed: 0,id,project_name,company,province,district,sub_district,property_type,home improvement,renovate,...,number_of_bathroom,number_of_parking,usable_area,central_cost,direction,furniture,building_number,number_of_building,floor_number,parking_percentage
0,0,676.0,กันยารัตน์ ฟลอร่า วิลล์,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,NaN,0.0,0.0,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
1,1,19711.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ศิลา,ที่ดิน,NaN,NaN,...,NaN,NaN,NaN,NaN,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN
2,2,30146P,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,NaN,NaN,...,2.0,1.0,208.0,NaN,NaN,"ฟรี! แอร์ 2 เครื่อง, เครื่องทำน้ำอุ่น 2 เครื่อ...",NaN,NaN,NaN,NaN
3,3,1899.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,แดงใหญ่,บ้านเดี่ยว,no,no,...,3.0,3.0,145.0,0.0,ไม่ระบุ,ไม่มี,NaN,NaN,NaN,NaN
4,4,23503.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านค้อ,บ้านเดี่ยว,no,no,...,2.0,3.0,114.0,0.0,ตะวันออกเฉียงใต้,ไม่ระบุ,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2720,2720,5130.0,เดอะ มอร์ ศรีจันทร์ ขอนแก่น,บริษัท วี ไอ พี แกรนด์ จำกัด,ขอนแก่น,เมืองขอนแก่น,พระลับ,บ้านเดี่ยว,no,no,...,6.0,5.0,0.0,1350.0,เหนือ,ตกแต่งครบ,NaN,NaN,NaN,NaN
2721,2721,30284P,NaN,NaN,ขอนแก่น,บ้านแฮด,บ้านแฮด,ที่ดิน,NaN,NaN,...,NaN,NaN,4625.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2722,2722,6326.0,NaN,NaN,ขอนแก่น,เมืองขอนแก่น,บ้านทุ่ม,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,NaN
2723,2723,6045.0,กันยารัตน์ การ์เด้นวิว รีสอร์ท,บริษัท กันยารัตน์ พร็อพเพอร์ตี้ จำกัด,ขอนแก่น,เมืองขอนแก่น,ในเมือง,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,0.0,NaN
2724,2724,18085.0,NaN,NaN,ขอนแก่น,พล,เมืองพล,บ้านเดี่ยว,no,no,...,0.0,0.0,0.0,0.0,ไม่ระบุ,ไม่ระบุ,NaN,NaN,NaN,NaN

###เปลี่ยน error ทั้งหมดใน แต่ละคอลัมน์ที่เราที่เราสนใจ ให้เป็น ตัวเลข

In [20]:
data_train['usable_area'] = pd.to_numeric(data_train['usable_area'],errors='coerce')
data_train['number_of_rai'] = pd.to_numeric(data_train['number_of_rai'],errors='coerce')
data_train['number_of_ngan'] = pd.to_numeric(data_train['number_of_ngan'],errors='coerce')
data_train['number_of_va'] = pd.to_numeric(data_train['number_of_va'],errors='coerce')
data_train['number_of_story'] = pd.to_numeric(data_train['number_of_story'],errors='coerce')
data_train['number_of_bedroom'] = pd.to_numeric(data_train['number_of_bedroom'],errors='coerce')
data_train['number_of_bathroom'] = pd.to_numeric(data_train['number_of_bedroom'],errors='coerce')
data_train['number_of_parking'] = pd.to_numeric(data_train['number_of_bedroom'],errors='coerce')
data_train['sell_price'] = pd.to_numeric(data_train['sell_price'],errors='coerce')

In [25]:
set(data_train['sell_price'].isnull())

{False, True}

In [27]:
from numpy.lib.function_base import average
average(data_train['sell_price'])

nan

In [30]:
data_train['sell_price'] = data_train['sell_price'].replace(np.NaN, data_train['sell_price'].mean())

In [31]:
set(data_train['sell_price'].isnull())

{False}

In [34]:
data_train['number_of_rai'] = data_train['number_of_rai'].replace(np.NaN, data_train['number_of_rai'].mean())
data_train['number_of_ngan'] = data_train['number_of_ngan'].replace(np.NaN, data_train['number_of_ngan'].mean())
data_train['number_of_va'] = data_train['number_of_va'].replace(np.NaN, data_train['number_of_va'].mean())

In [35]:
area = data_train['number_of_rai']+(data_train['number_of_ngan']/4)+(data_train['number_of_va']/400)
area

0        0.2460
1        3.1800
2        0.1300
3        0.1000
4        0.1250
         ...
2720     0.3375
2721    11.5625
2722     0.1450
2723     0.1950
2724     0.0800
Length: 2725, dtype: float64

In [36]:
set(area.isnull())

{False}

In [38]:
data_train['usable_area'] = data_train['usable_area'].replace(np.NaN, data_train['usable_area'].mean())
set(data_train['usable_area'].isnull())

{False}

In [41]:
data_train['number_of_story'] = data_train['number_of_story'].replace(np.NaN, data_train['number_of_story'].median())
data_train['number_of_bedroom'] = data_train['number_of_bedroom'].replace(np.NaN, data_train['number_of_bedroom'].median())
data_train['number_of_bathroom'] = data_train['number_of_bathroom'].replace(np.NaN, data_train['number_of_bathroom'].median())
data_train['number_of_parking'] = data_train['number_of_parking'].replace(np.NaN, data_train['number_of_parking'].median())

1.0

In [42]:
train_data1 = data_train[['usable_area','number_of_rai','number_of_ngan','number_of_va','number_of_story','number_of_bedroom','number_of_bathroom','number_of_parking','sell_price']]

In [44]:
set(train_data1.isnull().any())

{False}

In [46]:
train_data1

,usable_area,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,sell_price
0,0.000000,0.0,0.0,98.4,2.0,0.0,0.0,0.0,2860000.0
1,658.507853,3.0,0.0,72.0,2.0,1.0,1.0,1.0,17490000.0
2,208.000000,0.0,0.0,52.0,1.0,3.0,3.0,3.0,2800000.0
3,145.000000,0.0,0.0,40.0,2.0,3.0,3.0,3.0,2600000.0
4,114.000000,0.0,0.0,50.0,1.0,2.0,2.0,2.0,1490000.0
...,...,...,...,...,...,...,...,...,...
2720,0.000000,0.0,0.0,135.0,2.0,5.0,5.0,5.0,12500000.0
2721,4625.000000,11.0,2.0,25.0,2.0,1.0,1.0,1.0,8671875.0
2722,0.000000,0.0,0.0,58.0,2.0,0.0,0.0,0.0,1400000.0
2723,0.000000,0.0,0.0,78.0,2.0,0.0,0.0,0.0,2915000.0
2724,0.000000,0.0,0.0,32.0,1.0,0.0,0.0,0.0,1045000.0

In [13]:
data1.dtypes

usable_area           float64
number_of_rai         float64
number_of_ngan        float64
number_of_va          float64
number_of_story       float64
number_of_bedroom     float64
number_of_bathroom    float64
number_of_parking     float64
sell_price            float64
dtype: object

In [14]:
data1 = data1[data1['usable_area']!=0]
data1

,usable_area,number_of_rai,number_of_ngan,number_of_va,number_of_story,number_of_bedroom,number_of_bathroom,number_of_parking,sell_price
2,208.0,0.0,0.0,52.0,1.0,3.0,3.0,3.0,2800000.0
3,145.0,0.0,0.0,40.0,2.0,3.0,3.0,3.0,2600000.0
4,114.0,0.0,0.0,50.0,1.0,2.0,2.0,2.0,1490000.0
5,29.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1750000.0
9,280.0,0.0,0.0,0.0,1.0,2.0,2.0,2.0,2000000.0
...,...,...,...,...,...,...,...,...,...
2700,110.0,0.0,0.0,0.0,1.0,3.0,3.0,3.0,2700000.0
2702,400.0,0.0,0.0,88.0,1.0,3.0,3.0,3.0,6900000.0
2711,30.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,2280000.0
2713,150.0,0.0,0.0,67.5,2.0,4.0,4.0,4.0,4000000.0
2721,4625.0,11.0,2.0,25.0,1.0,1.0,1.0,1.0,8671875.0

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
LR = LinearRegression()
LR.fit(Xtrain, ytrain)

LinearRegression()

In [47]:
datatest2 = datatest1[['usable_area','number_of_rai','number_of_ngan','number_of_va','number_of_story','number_of_bedroom','number_of_bathroom','number_of_parking']]
predictions = LR.predict(datatest2)

NameError: ignored